* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-weight: 400;
	background-color: white;
	background-image: url('../resources/business-travel.jpg'); 
	background-position: center center; 
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 75px 0;
}

h1 {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.8rem;
}

.whiteOPC {
	background-color: white;
	opacity: 0.1;
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	padding: 0 0;
}

.tabs {
	display: flex;
	width: 75%;
	column-gap: 5px;
}

.zoom {
	height: 50px;
	justify-content: end;
	column-gap: 15px;
	position: relative;
}

.inputBox {
	position: relative;
	height: 80vh;
	width: 75%;
	overflow: hidden;
}

.logo {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 150px;
	height: auto;
	opacity: 0.6;
}

textarea {
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 20px 20px;
	font-size: 13pt;
	margin: 0 0;
	border: none;
	outline: none;
	resize: none;
	font-family: Courier New;
	color: #1f497d;
}

span {
	/* font-family: 'Work Sans', sans-serif; */
	font-family: 'Quicksand', sans-serif;
	position: absolute;
	left: 0;
	color: #5588aaaa;
	pointer-events: none;
	padding: 8px 19px;
	font-size: 1.6rem;
	margin: 10px 0;
	transition: 0.2s;
	opacity: 0;
	/* visibility: hidden; */
}

.iframeContainer {
	position: absolute;
	width: 90vw;
	height: calc(100% - 20px);
	left: 20px;
	top: 20px;
	visibility: hidden;
}

#noFF {
	color: red;
	position: absolute;
	right: 220px;
	top: 10px;
	pointer-events: none;
	/* width: fit-content; */
	text-align: end;
	/* opacity: ; */
	font-size: 1.35rem;
	font-weight: bold;
}

.copiedStatus {
	font-family: 'Work Sans', sans-serif;
	transition: 0.5s;
	opacity: 0;
	position: absolute;
	bottom: 5%;
	right: 10px;
	font-size: clamp(10px, 2vh, 2rem);
	color: #888;
	padding: 0 0;
	max-width: clamp(200px, 15vw, 300px);
}

input {
	font-family: 'Work Sans', sans-serif;
	/* width: 15vw; */
	/* max-width: 150px; */
	width: 14%;
	height: 80px;
	border: none;
	cursor: pointer;
	outline: none;
	resize: none;
	font-weight: bold;
	transition: 0.2s;
	text-align: center;
	height: 40px;
	padding: 0 0;
	font-size: 1.2rem;
	text-wrap: wrap;
	margin: 5px 0px 5px 0px;
}

.eTickLinkInput {
	border: 1px solid #666;
	border-radius: 5px;
	min-width: 250px;
	height: 30px;
	margin: 10px 0;
	font-size: 0.8rem;
	padding: 0 10px;
}

.eTickButton {
	min-width: 250px;
	background-color: #325fb0;
	color: white;
	border-radius: 5px;
	min-height: 30px;
	font-weight: bold;
	margin: 0%;
	outline: none;
	box-shadow: none;
	border: none;
}

input[type="tab"] {
	background: #fff;
	color: #5588aaff;
}

input[type="tabHelp"] {
	background: #e6f4ff;
	color: rgb(77, 124, 156);
}

input[type="checkin"] {
	font: 'Work Sans', sans-serif;
	min-width: 0;
	width: 0;
	transition: 0.2s;
	font-size: 1.2rem;
	line-height: 100%;
	display: none;
}

input[type="tabClear"] {
	background: #fff;
	color: #5588aaff;
}

input[type="tabCopy"] {
	color: #325fb0;
	background: #aaccffff;
	width: 0;
	display: none;
}

input[type="tabPDF"] {
	color: #325fb0;
	background: #aaccffff;
	opacity: 0;
}

input[type="tabRefunds"] {
	color: #5588aaff;
	background: #fff;
}

input[type="tab"]:hover {
	color: #fff;
	background: #5588aaff;
}

input[type="tabCopy"]:hover {
	color: #fff;
	background: #5588aaff;
}

input[type="tabPDF"]:hover {
	color: #fff;
	background: #5588aaff;
}

input[type="tabClear"]:hover {
	color: #fff;
	background: #aa2244ff;
}

.minus {
	background-image: url("./editor/minus.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: 0.2s;
	width: 1.2%;
}

.minus:hover {
	transform: scale(1.1);
}

.mag {
	background-image: url("./editor/mag.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 1.2%;
}

.plus {
	background-image: url("./editor/plus.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 1.2%;
	cursor: pointer;
	transition: 0.2s;
}

.plus:hover {
	transform: scale(1.1);
}

.ffDialogue {
	pointer-events: none;
	background-color: #00000055;
	width:100%;
	height:100%;
	position: absolute;
	top: 0;
	padding: 0 0;
	visibility: hidden;
	z-index: 1000;
}

.ffBox {
	background: white;
	width: 20%;
	height: auto;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	margin: auto;
	font-size: 1.3rem;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	border: 5px solid #336688ff;
	padding: 20px 30px 20px 30px;
}

.ffButton {
	text-transform: uppercase;
	border-radius: 0;
	border: none;
	font-family: 'Work Sans', sans-serif;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 10px 10px 10px 10px;;
	transition: 0.2s;
	width: auto;
	font-weight: bold;
	color: #fff;
	background: #5588aaff;
	cursor: pointer;
	z-index: 1000;
}

.ffButton:hover {
	transform: scale(1.1);
}

.fbcLink {
	position: absolute;
	left: 0;
	top: 8px;
	color: white;
	font-family: 'Work Sans', sans-serif;
}